@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   
    font-weight: 600;
}

#mj{
    background-color:aqua;
    padding: 3px;
    margin: 5px;
    margin-top: 6%;
    margin-left: 5%;
    border: 1px solid black;
    border-radius: 10px;

}

a{
    margin:30px ;
    display:block ;
}